In [68]:
import pandas as pd
import requests
import random
import json
from bs4 import BeautifulSoup
import re
import numpy as np

In [2]:
from sqlalchemy import create_engine

In [3]:
db_connection_str = 'sqlite:///./raw_data_project_m1.db'
db_connection = create_engine(db_connection_str)

In [4]:
db_connection

Engine(sqlite:///./raw_data_project_m1.db)

In [5]:
db_connection.table_names()

['career_info', 'country_info', 'personal_info', 'poll_info']

In [6]:
pd.read_sql_query('select distinct(rural),count(rural) from country_info group by rural', db_connection)

         rural  count(rural)
0      Country           772
1    Non-Rural          1372
2         city          1664
3  countryside           482
4        rural          1517
5        urban          3842

In [7]:
career = pd.read_sql_table(table_name='career_info', con=db_connection)

In [8]:
#career.groupby('normalized_job_code').count()

In [9]:
#career['col_clone']=career['normalized_job_code']

In [10]:
response = requests.get('http://api.dataatwork.org/v1/jobs')

json_data = response.json()

In [11]:
ex=[]
for json_item in json_data:
    try:
        ex.append(json_item['title'])
    except:
        print('Mis cojones')

Mis cojones

In [12]:
df=pd.read_sql_query('select uuid, normalized_job_code from career_info', db_connection)

In [13]:

jobs_id_list =[]
codelist_df = df['normalized_job_code'].unique().tolist()
    
for job_code in codelist_df:
    req= requests.get(f'http://api.dataatwork.org/v1/jobs/{job_code}')
    jobs_id_list.append(req.json())
    
jobs_id_list

[{'error': {'code': 404, 'message': 'Cannot find job with id None'}},
 {'uuid': '861a9b9151e11362eb3c77ca914172d0',
  'title': 'Automatic Data Processing Planner',
  'normalized_job_title': 'automatic data processing planner',
  'parent_uuid': '0148f61d4227497728ce33490843d056'},
 {'uuid': '049a3f3a2b5f85cb2971ba77ad66e10c',
  'title': 'Data Coordinator',
  'normalized_job_title': 'data coordinator',
  'parent_uuid': '0b9dd32a367f4562ec77b993053d1910'},
 {'uuid': 'f4b2fb1aa40f661488e2782b6d57ad2f',
  'title': 'Database Developer',
  'normalized_job_title': 'database developer',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': '27af8700f5577cec835acee2cb90a2ff',
  'title': 'Data Entry Specialist',
  'normalized_job_title': 'data entry specialist',
  'parent_uuid': 'bf88358c56bb6cbe7eabec38ae333d19'},
 {'uuid': 'c1b670eba9ccb65e7c99f7da116d5b9c',
  'title': 'Database Architect',
  'normalized_job_title': 'database architect',
  'parent_uuid': '596226d5f9ef63de41a852826d483d19'},
 {'uuid': 'd71c4164c99a5f9bca773e755a72f40f',
  'title': 'Geographic Information Systems Database Administrator (GIS Database Administrator)',
  'normalized_job_title': 'geographic information systems database administrator gis database administrator',
  'parent_uuid': 'bab6b228ad976cd2624acbcfccb8ad9b'},
 {'uuid': '2ee80cf30e2483dfe0947adc0428f8c5',
  'title': 'Crime Data Specialist',
  'normalized_job_title': 'crime data specialist',
  'parent_uuid': '325e2251e20170928426473156bd3c48'},
 {'uuid': '897ef18a9321616495831a4b4b0c1bb2',
  'title': 'Data Communications Software Consultant',
  'normalized_job_title': 'data communications software consultant',
  'parent_uuid': '9f07202082ce5945f125f3472a753789'},
 {'uuid': 'a003702c0cea282e17967772dd83de5e',
  'title': 'Data Security Analyst',
  'normalized_job_title': 'data security analyst',
  'parent_uuid': '7ef30a5b2e0ec04db4ad4d5b1d354c32'},
 {'uuid': '04c82eae29e1c4a30eac0710b74ab276',
  'title': 'Database Marketing Analyst',
  'normalized_job_title': 'database marketing analyst',
  'parent_uuid': '05d507b5052f3f105eb5602c10723103'},
 {'uuid': 'fcaf4aac737e53ad24b9f32f08b8740f',
  'title': 'Computer or Data Processing Systems Consultant',
  'normalized_job_title': 'computer or data processing systems consultant',
  'parent_uuid': '0148f61d4227497728ce33490843d056'},
 {'uuid': '3833bd699e7afe4665b595f282da0387',
  'title': 'Database Development and Administration Project Manager',
  'normalized_job_title': 'database development and administration project manager',
  'parent_uuid': 'bb4e5066e69e4228172b4850d2a920f4'},
 {'uuid': '19e384e977796c25780d8c28b12089c4',
  'title': 'Naval Tactical Data System--Combat Information Center Watch Officer, General',
  'normalized_job_title': 'naval tactical data systemcombat information center watch officer general',
  'parent_uuid': 'e7fdd7f57854ea7d06958a8b65ce0148'},
 {'uuid': '474b962c13632a04e42a546be4f11dbb',
  'title': 'Data Coder Operator',
  'normalized_job_title': 'data coder operator',
  'parent_uuid': 'bf88358c56bb6cbe7eabec38ae333d19'},
 {'uuid': 'dac2e921c1f887d9efc4c06fa33c1397',
  'title': 'Automatic Data Processing Customer Liaison (ADP Customer Liaison)',
  'normalized_job_title': 'automatic data processing customer liaison adp customer liaison',
  'parent_uuid': '9c4fa3af527c538e345640a28f2d0586'},
 {'uuid': '996da29c84f5eed00da40c230f4c4078',
  'title': 'Data Entry Representative',
  'normalized_job_title': 'data entry representative',
  'parent_uuid': 'bf88358c56bb6cbe7eabec38ae333d19'},
 {'uuid': 'cc2b26cc436bea36bda3bdd7367c411a',
  'title': 'Data Processing Auditor',
  'normalized_job_title': 'data processing auditor',
  'parent_uuid': '30ab203f437e940183274ac15379aa99'},
 {'uuid': '25fe195cbf915c0824fa6c44e6d0008c',
  'title': 'Maintenance Data Analyst',
  'normalized_job_title': 'maintenance data analyst',
  'parent_uuid': '9b44dbc6767274d8b3a820e133803d00'},
 {'uuid': '76385cb24e831b3364279b9de5641d8f',
  'title': 'Automatic Data Processing Systems Security Specialist (ADP Systems Security)',
  'normalized_job_title': 'automatic data processing systems security specialist adp systems security',
  'parent_uuid': '7ef30a5b2e0ec04db4ad4d5b1d354c32'},
 {'uuid': '16b67d7f57698455aefbc1ae1b358b50',
  'title': 'Database Engineer',
  'normalized_job_title': 'database engineer',
  'parent_uuid': '596226d5f9ef63de41a852826d483d19'},
 {'uuid': 'b24ece3300d2f8ab34f9553e531183d6',
  'title': 'Data Processing Systems Project Planner',
  'normalized_job_title': 'data processing systems project planner',
  'parent_uuid': '0148f61d4227497728ce33490843d056'},
 {'uuid': '5db2c8d6539f983e1ca3d7c5b939e190',
  'title': 'Database Administration Associate',
  'normalized_job_title': 'database administration associate',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': '36675c937946c8a4fc5de7d0b4c850de',
  'title': 'Data Warehousing Engineer',
  'normalized_job_title': 'data warehousing engineer',
  'parent_uuid': '72ac7ec4ef0212a3aa54ed92abac8a92'},
 {'uuid': '847165cfda6b1dc82ae22b967da8af2f',
  'title': 'Data Warehouse Developer',
  'normalized_job_title': 'data warehouse developer',
  'parent_uuid': '72ac7ec4ef0212a3aa54ed92abac8a92'},
 {'uuid': '2ca138b991c50dc6696238e5ad800142',
  'title': 'Database Software Technician',
  'normalized_job_title': 'database software technician',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': '775190277a849cba701b306a7b374c0a',
  'title': 'Data Officer',
  'normalized_job_title': 'data officer',
  'parent_uuid': '596226d5f9ef63de41a852826d483d19'},
 {'uuid': '022d0e3a40aa3e29bca6851542b27842',
  'title': 'Data Keyer',
  'normalized_job_title': 'data keyer',
  'parent_uuid': 'bf88358c56bb6cbe7eabec38ae333d19'},
 {'uuid': '375017ea3a1a97f5ea676def873bb25b',
  'title': 'Geographic Information Systems Data Specialist (GIS Data Specialist)',
  'normalized_job_title': 'geographic information systems data specialist gis data specialist',
  'parent_uuid': 'bab6b228ad976cd2624acbcfccb8ad9b'},
 {'uuid': '1dd2fdc8a3981f2a1d8f0ca173952bb8',
  'title': 'Database Administration Manager',
  'normalized_job_title': 'database administration manager',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': 'e605336f5a43949cb6b18054fd1937f1',
  'title': 'Database Security Expert',
  'normalized_job_title': 'database security expert',
  'parent_uuid': '7ef30a5b2e0ec04db4ad4d5b1d354c32'},
 {'uuid': '800b621aab5dac18f4caef621fa43a49',
  'title': 'Data Systems Manager',
  'normalized_job_title': 'data systems manager',
  'parent_uuid': 'bb4e5066e69e4228172b4850d2a920f4'},
 {'uuid': 'd06dfb43c95b585a89ae556c9221b573',
  'title': 'Data Warehousing Manager',
  'normalized_job_title': 'data warehousing manager',
  'parent_uuid': '72ac7ec4ef0212a3aa54ed92abac8a92'},
 {'uuid': 'a12a16280e22220f9354333f6fe1b22a',
  'title': 'Geographic Information Systems Data Administrator (GIS Data Administrator)',
  'normalized_job_title': 'geographic information systems data administrator gis data administrator',
  'parent_uuid': 'bab6b228ad976cd2624acbcfccb8ad9b'},
 {'uuid': '477b53ef09d37f098d5ed74f47fcbaec',
  'title': 'Data Base Design Analyst',
  'normalized_job_title': 'data base design analyst',
  'parent_uuid': '596226d5f9ef63de41a852826d483d19'},
 {'uuid': 'e2f68bf748aea2c7d2254550c0c92b23',
  'title': 'Director of Data Operations',
  'normalized_job_title': 'director of data operations',
  'parent_uuid': 'bb4e5066e69e4228172b4850d2a920f4'},
 {'uuid': '45033f83b6e0309eca9bcd76917f15d0',
  'title': 'Database Modeler',
  'normalized_job_title': 'database modeler',
  'parent_uuid': '596226d5f9ef63de41a852826d483d19'},
 {'uuid': '141ddda0f613da65a280521247de0e9f',
  'title': 'Data Administrator',
  'normalized_job_title': 'data administrator',
  'parent_uuid': '596226d5f9ef63de41a852826d483d19'},
 {'uuid': '3ddea1b52e520996e4ec9fb70dc8b86b',
  'title': 'Field Artillery Automated Tactical Data System Specialist',
  'normalized_job_title': 'field artillery automated tactical data system specialist',
  'parent_uuid': '89d82eabfbe83755f4435bc7fcc8d6af'},
 {'uuid': '6408c0d7c7faa4ced47fbc8474698126',
  'title': 'Database Design Analyst',
  'normalized_job_title': 'database design analyst',
  'parent_uuid': '596226d5f9ef63de41a852826d483d19'},
 {'uuid': '07b7555fa790debaf5b04d1409ad5f11',
  'title': 'Database Security Administrator',
  'normalized_job_title': 'database security administrator',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': 'a4d5b8b38f9513825d0d94a981ebe962',
  'title': 'Database Manager',
  'normalized_job_title': 'database manager',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': '5e93fd1a58c8a67b295f69d87d1a940d',
  'title': 'Geographic Information Systems Data Manager (GIS Data Manager)',
  'normalized_job_title': 'geographic information systems data manager gis data manager',
  'parent_uuid': 'bab6b228ad976cd2624acbcfccb8ad9b'},
 {'uuid': '122f24bc911a79c26ca66210557dda07',
  'title': 'Clinical Data Specialist',
  'normalized_job_title': 'clinical data specialist',
  'parent_uuid': 'db06efbaa9cb31d42e02c047ffb0a15a'},
 {'uuid': '76b0ba6af40991629e20dff36edd02a5',
  'title': 'Data Management Information Technology Specialist',
  'normalized_job_title': 'data management information technology specialist',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': '970eb38c7b3eb080466052ea994af189',
  'title': 'Internet Database Specialist',
  'normalized_job_title': 'internet database specialist',
  'parent_uuid': 'a5773315d55245d7a3271314a564c32f'},
 {'uuid': 'cf2d4db3c258faa2499bdeeeed6721a5',
  'title': 'GPS Field Data Collector (Global Positioning System Field Data Collector)',
  'normalized_job_title': 'gps field data collector global positioning system field data collector',
  'parent_uuid': '05622c1c6c44e774821121ef8c93fef9'},
 {'uuid': '90c5430dbc810aec8695af2f1f4c42e8',
  'title': 'Electronic Data Processing Auditor (EDP Auditor)',
  'normalized_job_title': 'electronic data processing auditor edp auditor',
  'parent_uuid': '9c4fa3af527c538e345640a28f2d0586'},
 {'uuid': '7bb15eefb19ed09c59349baad7e8469e',
  'title': 'Database Coordinator',
  'normalized_job_title': 'database coordinator',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': 'ec3d88b2fd083b870b8c5a603898ed39',
  'title': 'Databases Computer Consultant',
  'normalized_job_title': 'databases computer consultant',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': '1f8576bdffa64f492405d02b842c41a6',
  'title': 'Data Management Associate',
  'normalized_job_title': 'data management associate',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': 'edc64316da9707432443c7a4461abe6c',
  'title': 'Data Security Administrator',
  'normalized_job_title': 'data security administrator',
  'parent_uuid': '7ef30a5b2e0ec04db4ad4d5b1d354c32'},
 {'uuid': '6cf4d336112984368f83181ac5ffe948',
  'title': 'Health Data Analyst',
  'normalized_job_title': 'health data analyst',
  'parent_uuid': 'db06efbaa9cb31d42e02c047ffb0a15a'},
 {'uuid': 'd4624ed8068d24948e18303212593cd6',
  'title': 'Data Architect',
  'normalized_job_title': 'data architect',
  'parent_uuid': '596226d5f9ef63de41a852826d483d19'},
 {'uuid': '1a281bf4bd1fe9b2a6e464e508bea167',
  'title': 'Data Storage Specialist',
  'normalized_job_title': 'data storage specialist',
  'parent_uuid': '72ac7ec4ef0212a3aa54ed92abac8a92'},
 {'uuid': '2f704538f6c9d6459a97314be98124e2',
  'title': 'Data Collector',
  'normalized_job_title': 'data collector',
  'parent_uuid': 'b9395a0c9f252a057e9b153c5c7f4bdd'},
 {'uuid': '3161063d378eecc4581c5cdee46a2a6c',
  'title': 'Head of Information Systems and Data Processing',
  'normalized_job_title': 'head of information systems and data processing',
  'parent_uuid': 'bb4e5066e69e4228172b4850d2a920f4'},
 {'uuid': '781f5d3a80812531fdc81125a527a626',
  'title': 'Data Warehouse Specialist',
  'normalized_job_title': 'data warehouse specialist',
  'parent_uuid': '72ac7ec4ef0212a3aa54ed92abac8a92'},
 {'uuid': '38a15ceadcdd6d4db16a88fa1a72b083',
  'title': 'Data Warehouse Analyst',
  'normalized_job_title': 'data warehouse analyst',
  'parent_uuid': '72ac7ec4ef0212a3aa54ed92abac8a92'},
 {'uuid': 'e55556364d2096578fd153e9800e826f',
  'title': 'Database Consultant',
  'normalized_job_title': 'database consultant',
  'parent_uuid': '596226d5f9ef63de41a852826d483d19'},
 {'uuid': 'd24ffac92c24fb0e7bd1abc5fc3b6254',
  'title': 'Data Manager',
  'normalized_job_title': 'data manager',
  'parent_uuid': '430aaf9809812ccc822ef42674765d0e'},
 {'uuid': 'ccd7528fb38f16077360c5b67c9700c4',
  'title': 'Data Communications Analyst',
  'normalized_job_title': 'data communications analyst',
  'parent_uuid': '9f07202082ce5945f125f3472a753789'},
 {'uuid': 'f6fbd9dea1fa8f899683ade8e7d87d60',
  'title': 'Data Entry Associate',
  'normalized_job_title': 'data entry associate',
  'parent_uuid': 'bf88358c56bb6cbe7eabec38ae333d19'},
 {'uuid': '0de6170ccbed08e62b2e5862d5846a43',
  'title': 'Database Tester',
  'normalized_job_title': 'database tester',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': '499f9d9b6722342608656559b15abd90',
  'title': 'Clinical Data Associate',
  'normalized_job_title': 'clinical data associate',
  'parent_uuid': '0b9dd32a367f4562ec77b993053d1910'},
 {'uuid': '8a7a3f1bce0958ae9f090683e5a925b7',
  'title': 'Data Scientist',
  'normalized_job_title': 'data scientist',
  'parent_uuid': 'c694b1fbf0bd19efa780497ccb70638e'},
 {'uuid': '7acaed29536648e45ea2b82d45047fcf',
  'title': 'Medical Data Analyst',
  'normalized_job_title': 'medical data analyst',
  'parent_uuid': 'db06efbaa9cb31d42e02c047ffb0a15a'},
 {'uuid': '02e4c028f64f176de2f54bbc2f5403ce',
  'title': 'Marketing Database Analyst',
  'normalized_job_title': 'marketing database analyst',
  'parent_uuid': '9656fa2dc39e9643c00a45858e0117d0'},
 {'uuid': '569da68cdcac43a3b4a0126ea9170570',
  'title': 'Database Designer',
  'normalized_job_title': 'database designer',
  'parent_uuid': '596226d5f9ef63de41a852826d483d19'},
 {'uuid': 'ced804d972b03cca6d523ec8925a7943',
  'title': 'Oracle Database Administrator (Oracle DBA)',
  'normalized_job_title': 'oracle database administrator oracle dba',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': '41b2978a2c07c5f477e60f26372d6c85',
  'title': 'Database Management System Specialist (DBMS Specialist)',
  'normalized_job_title': 'database management system specialist dbms specialist',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': 'd9e964a222fdd9527319ad88adbfaa2e',
  'title': 'SQL Database Administrator',
  'normalized_job_title': 'sql database administrator',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': 'ac47656fd51c2cd8037057262c910dc4',
  'title': 'Data Processing Manager',
  'normalized_job_title': 'data processing manager',
  'parent_uuid': 'bb4e5066e69e4228172b4850d2a920f4'},
 {'uuid': 'e49986dae76619a3941d280ee14d38ae',
  'title': 'Data Miner',
  'normalized_job_title': 'data miner',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': 'f842344417ed2fc226d9cc00f9562458',
  'title': 'Log Data Technician',
  'normalized_job_title': 'log data technician',
  'parent_uuid': '0581dd6e7d2b00f3d449837e60ab76a0'},
 {'uuid': '096536ec43ce2a7de73031b271a1c132',
  'title': 'Flight Data Technician',
  'normalized_job_title': 'flight data technician',
  'parent_uuid': '351a52f8a687142e32acd0b6c331e61b'},
 {'uuid': 'a33662485eb4ad97096183db945308f4',
  'title': 'Automatic Data Processing Planner (ADP Planner)',
  'normalized_job_title': 'automatic data processing planner adp planner',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': '4f75f97ac5b5f00f9420074d501f0803',
  'title': 'Data Capture Specialist',
  'normalized_job_title': 'data capture specialist',
  'parent_uuid': 'bf88358c56bb6cbe7eabec38ae333d19'},
 {'uuid': 'f36c6ada3a808453a0bf241c74a4e994',
  'title': 'Reference Data Expert',
  'normalized_job_title': 'reference data expert',
  'parent_uuid': 'c80b795c61b66ce7d93000761d21632f'},
 {'uuid': '41ba88cfd476ee8d5e3d9f7cea62f051',
  'title': 'Data Recovery Planner',
  'normalized_job_title': 'data recovery planner',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': '894ca61c22718617c7e2404f582153da',
  'title': 'Data Processing Consultant',
  'normalized_job_title': 'data processing consultant',
  'parent_uuid': '0148f61d4227497728ce33490843d056'},
 {'uuid': '34d80517fe3bc143f9fc850386b8ffd7',
  'title': 'Clinical Data Coordinator',
  'normalized_job_title': 'clinical data coordinator',
  'parent_uuid': '0b9dd32a367f4562ec77b993053d1910'},
 {'uuid': 'e7b3e1c6a32c7247cd4857e4c3574165',
  'title': 'Data Processing Systems Analyst',
  'normalized_job_title': 'data processing systems analyst',
  'parent_uuid': '0148f61d4227497728ce33490843d056'},
 {'uuid': '36ac256201657eeaa67ee95aaae3cd54',
  'title': 'Data Warehousing Specialist',
  'normalized_job_title': 'data warehousing specialist',
  'parent_uuid': '72ac7ec4ef0212a3aa54ed92abac8a92'},
 {'uuid': 'bc6dcc49557388a9f53d6e642e73d7a2',
  'title': 'Business Database Analyst',
  'normalized_job_title': 'business database analyst',
  'parent_uuid': '9656fa2dc39e9643c00a45858e0117d0'},
 {'uuid': '00bff17fca67555d8d86e8ead86dcd70',
  'title': 'Database Analyst',
  'normalized_job_title': 'database analyst',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': 'b42566382f2d3deeca56d3667004fc9e',
  'title': 'Data Center Manager',
  'normalized_job_title': 'data center manager',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': '7932d4705d002b47789c11edfaed685e',
  'title': 'Data Control Assistant',
  'normalized_job_title': 'data control assistant',
  'parent_uuid': '1b7a3048ca875e752dbe1ec6368e2e9a'},
 {'uuid': 'aee597cd78f235c9db9d3ca987c7c846',
  'title': 'Database Development Project Manager',
  'normalized_job_title': 'database development project manager',
  'parent_uuid': 'c9b22af74071153203bd588bd45340d9'},
 {'uuid': '1c37a6e2bf157c0eff4665c57c52602d',
  'title': 'SCADA Technician (Supervisory Control and Data Acquisition Technician)',
  'normalized_job_title': 'scada technician supervisory control and data acquisition technician',
  'parent_uuid': '5e618fbfb1206c29ad9b4c3e1d169ba5'},
 {'uuid': '46b09f5f86f1ed46a8cb8e14d41418c7',
  'title': 'Survey Data Technician',
  'normalized_job_title': 'survey data technician',
  'parent_uuid': '325e2251e20170928426473156bd3c48'},
 {'uuid': 'a2a9fbe67b4aa2b551ba0f3adac90a99',
  'title': 'Engineer, System Electronic Data Processing (Engineer, System EDP)',
  'normalized_job_title': 'engineer system electronic data processing engineer system edp',
  'parent_uuid': 'ad7f545d458070129f3ced2d13467813'},
 {'uuid': '77d124811ae6887bd4ff42b0e2b49116',
  'title': 'Data Warehouse Architect',
  'normalized_job_title': 'data warehouse architect',
  'parent_uuid': '596226d5f9ef63de41a852826d483d19'},
 {'uuid': 'f05d2014d4a9adaab50fa1e0ca6f6c8c',
  'title': 'Naval Tactical Data System--Combat Information Center Watch Officer, Carrier Controlled Approach Controller',
  'normalized_job_title': 'naval tactical data systemcombat information center watch officer carrier controlled approach controller',
  'parent_uuid': 'e7fdd7f57854ea7d06958a8b65ce0148'},
 {'uuid': 'ac2588d5d7676a49bdcd038e4a0a0ec5',
  'title': 'Data Compiler',
  'normalized_job_title': 'data compiler',
  'parent_uuid': '325e2251e20170928426473156bd3c48'},
 {'uuid': '2173ff3afd8d28192f7cf119af201940',
  'title': 'Data Modeling Specialist',
  'normalized_job_title': 'data modeling specialist',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': 'f5bc91b67dc30ad204158092116c4ed2',
  'title': 'Clinical Data Manager',
  'normalized_job_title': 'clinical data manager',
  'parent_uuid': '0b9dd32a367f4562ec77b993053d1910'},
 {'uuid': '433df1b945d32f17d9e61cf60a9bd06e',
  'title': 'Data Abstractor',

In [28]:
jobs_json = json.dumps(jobs_id_list)

data_jobs=pd.read_json(my_json_string)

'[{"error": {"code": 404, "message": "Cannot find job with id None"}}, {"uuid": "861a9b9151e11362eb3c77ca914172d0", "title": "Automatic Data Processing Planner", "normalized_job_title": "automatic data processing planner", "parent_uuid": "0148f61d4227497728ce33490843d056"}, {"uuid": "049a3f3a2b5f85cb2971ba77ad66e10c", "title": "Data Coordinator", "normalized_job_title": "data coordinator", "parent_uuid": "0b9dd32a367f4562ec77b993053d1910"}, {"uuid": "f4b2fb1aa40f661488e2782b6d57ad2f", "title": "Database Developer", "normalized_job_title": "database developer", "parent_uuid": "b90ca4df5690002377a7b0f1f3d40781"}, {"uuid": "27af8700f5577cec835acee2cb90a2ff", "title": "Data Entry Specialist", "normalized_job_title": "data entry specialist", "parent_uuid": "bf88358c56bb6cbe7eabec38ae333d19"}, {"uuid": "c1b670eba9ccb65e7c99f7da116d5b9c", "title": "Database Architect", "normalized_job_title": "database architect", "parent_uuid": "596226d5f9ef63de41a852826d483d19"}, {"uuid": "d71c4164c99a5f9bca773e755a72f40f", "title": "Geographic Information Systems Database Administrator (GIS Database Administrator)", "normalized_job_title": "geographic information systems database administrator gis database administrator", "parent_uuid": "bab6b228ad976cd2624acbcfccb8ad9b"}, {"uuid": "2ee80cf30e2483dfe0947adc0428f8c5", "title": "Crime Data Specialist", "normalized_job_title": "crime data specialist", "parent_uuid": "325e2251e20170928426473156bd3c48"}, {"uuid": "897ef18a9321616495831a4b4b0c1bb2", "title": "Data Communications Software Consultant", "normalized_job_title": "data communications software consultant", "parent_uuid": "9f07202082ce5945f125f3472a753789"}, {"uuid": "a003702c0cea282e17967772dd83de5e", "title": "Data Security Analyst", "normalized_job_title": "data security analyst", "parent_uuid": "7ef30a5b2e0ec04db4ad4d5b1d354c32"}, {"uuid": "04c82eae29e1c4a30eac0710b74ab276", "title": "Database Marketing Analyst", "normalized_job_title": "database marketing analyst", "parent_uuid": "05d507b5052f3f105eb5602c10723103"}, {"uuid": "fcaf4aac737e53ad24b9f32f08b8740f", "title": "Computer or Data Processing Systems Consultant", "normalized_job_title": "computer or data processing systems consultant", "parent_uuid": "0148f61d4227497728ce33490843d056"}, {"uuid": "3833bd699e7afe4665b595f282da0387", "title": "Database Development and Administration Project Manager", "normalized_job_title": "database development and administration project manager", "parent_uuid": "bb4e5066e69e4228172b4850d2a920f4"}, {"uuid": "19e384e977796c25780d8c28b12089c4", "title": "Naval Tactical Data System--Combat Information Center Watch Officer, General", "normalized_job_title": "naval tactical data systemcombat information center watch officer general", "parent_uuid": "e7fdd7f57854ea7d06958a8b65ce0148"}, {"uuid": "474b962c13632a04e42a546be4f11dbb", "title": "Data Coder Operator", "normalized_job_title": "data coder operator", "parent_uuid": "bf88358c56bb6cbe7eabec38ae333d19"}, {"uuid": "dac2e921c1f887d9efc4c06fa33c1397", "title": "Automatic Data Processing Customer Liaison (ADP Customer Liaison)", "normalized_job_title": "automatic data processing customer liaison adp customer liaison", "parent_uuid": "9c4fa3af527c538e345640a28f2d0586"}, {"uuid": "996da29c84f5eed00da40c230f4c4078", "title": "Data Entry Representative", "normalized_job_title": "data entry representative", "parent_uuid": "bf88358c56bb6cbe7eabec38ae333d19"}, {"uuid": "cc2b26cc436bea36bda3bdd7367c411a", "title": "Data Processing Auditor", "normalized_job_title": "data processing auditor", "parent_uuid": "30ab203f437e940183274ac15379aa99"}, {"uuid": "25fe195cbf915c0824fa6c44e6d0008c", "title": "Maintenance Data Analyst", "normalized_job_title": "maintenance data analyst", "parent_uuid": "9b44dbc6767274d8b3a820e133803d00"}, {"uuid": "76385cb24e831b3364279b9de5641d8f", "title": "Automatic Data Processing Systems Security Specialist (ADP Systems Security)", "normalized_job_title": "automatic data processing systems security specialist adp systems security", "parent_uuid": "7ef30a5b2e0ec04db4ad4d5b1d354c32"}, {"uuid": "16b67d7f57698455aefbc1ae1b358b50", "title": "Database Engineer", "normalized_job_title": "database engineer", "parent_uuid": "596226d5f9ef63de41a852826d483d19"}, {"uuid": "b24ece3300d2f8ab34f9553e531183d6", "title": "Data Processing Systems Project Planner", "normalized_job_title": "data processing systems project planner", "parent_uuid": "0148f61d4227497728ce33490843d056"}, {"uuid": "5db2c8d6539f983e1ca3d7c5b939e190", "title": "Database Administration Associate", "normalized_job_title": "database administration associate", "parent_uuid": "b90ca4df5690002377a7b0f1f3d40781"}, {"uuid": "36675c937946c8a4fc5de7d0b4c850de", "title": "Data Warehousing Engineer", "normalized_job_title": "data warehousing engineer", "parent_uuid": "72ac7ec4ef0212a3aa54ed92abac8a92"}, {"uuid": "847165cfda6b1dc82ae22b967da8af2f", "title": "Data Warehouse Developer", "normalized_job_title": "data warehouse developer", "parent_uuid": "72ac7ec4ef0212a3aa54ed92abac8a92"}, {"uuid": "2ca138b991c50dc6696238e5ad800142", "title": "Database Software Technician", "normalized_job_title": "database software technician", "parent_uuid": "b90ca4df5690002377a7b0f1f3d40781"}, {"uuid": "775190277a849cba701b306a7b374c0a", "title": "Data Officer", "normalized_job_title": "data officer", "parent_uuid": "596226d5f9ef63de41a852826d483d19"}, {"uuid": "022d0e3a40aa3e29bca6851542b27842", "title": "Data Keyer", "normalized_job_title": "data keyer", "parent_uuid": "bf88358c56bb6cbe7eabec38ae333d19"}, {"uuid": "375017ea3a1a97f5ea676def873bb25b", "title": "Geographic Information Systems Data Specialist (GIS Data Specialist)", "normalized_job_title": "geographic information systems data specialist gis data specialist", "parent_uuid": "bab6b228ad976cd2624acbcfccb8ad9b"}, {"uuid": "1dd2fdc8a3981f2a1d8f0ca173952bb8", "title": "Database Administration Manager", "normalized_job_title": "database administration manager", "parent_uuid": "b90ca4df5690002377a7b0f1f3d40781"}, {"uuid": "e605336f5a43949cb6b18054fd1937f1", "title": "Database Security Expert", "normalized_job_title": "database security expert", "parent_uuid": "7ef30a5b2e0ec04db4ad4d5b1d354c32"}, {"uuid": "800b621aab5dac18f4caef621fa43a49", "title": "Data Systems Manager", "normalized_job_title": "data systems manager", "parent_uuid": "bb4e5066e69e4228172b4850d2a920f4"}, {"uuid": "d06dfb43c95b585a89ae556c9221b573", "title": "Data Warehousing Manager", "normalized_job_title": "data warehousing manager", "parent_uuid": "72ac7ec4ef0212a3aa54ed92abac8a92"}, {"uuid": "a12a16280e22220f9354333f6fe1b22a", "title": "Geographic Information Systems Data Administrator (GIS Data Administrator)", "normalized_job_title": "geographic information systems data administrator gis data administrator", "parent_uuid": "bab6b228ad976cd2624acbcfccb8ad9b"}, {"uuid": "477b53ef09d37f098d5ed74f47fcbaec", "title": "Data Base Design Analyst", "normalized_job_title": "data base design analyst", "parent_uuid": "596226d5f9ef63de41a852826d483d19"}, {"uuid": "e2f68bf748aea2c7d2254550c0c92b23", "title": "Director of Data Operations", "normalized_job_title": "director of data operations", "parent_uuid": "bb4e5066e69e4228172b4850d2a920f4"}, {"uuid": "45033f83b6e0309eca9bcd76917f15d0", "title": "Database Modeler", "normalized_job_title": "database modeler", "parent_uuid": "596226d5f9ef63de41a852826d483d19"}, {"uuid": "141ddda0f613da65a280521247de0e9f", "title": "Data Administrator", "normalized_job_title": "data administrator", "parent_uuid": "596226d5f9ef63de41a852826d483d19"}, {"uuid": "3ddea1b52e520996e4ec9fb70dc8b86b", "title": "Field Artillery Automated Tactical Data System Specialist", "normalized_job_title": "field artillery automated tactical data system specialist", "parent_uuid": "89d82eabfbe83755f4435bc7fcc8d6af"}, {"uuid": "6408c0d7c7faa4ced47fbc8474698126", "title": "Database Design Analyst", "normalized_job_title": "database design analyst", "parent_uuid": "596226d5f9ef63de41a852826d483d19"}, {"uuid": "07b7555fa790debaf5b04d1409ad5f11", "title": "Database Security Administrator", "normalized_job_title": "database security administrator", "parent_uuid": "b90ca4df5690002377a7b0f1f3d40781"}, {"uuid": "a4d5b8b38f9513825d0d94a981ebe962", "title": "Database Manager", "normalized_job_title": "database manager", "parent_uuid": "b90ca4df5690002377a7b0f1f3d40781"}, {"uuid": "5e93fd1a58c8a67b295f69d87d1a940d", "title": "Geographic Information Systems Data Manager (GIS Data Manager)", "normalized_job_title": "geographic information systems data manager gis data manager", "parent_uuid": "bab6b228ad976cd2624acbcfccb8ad9b"}, {"uuid": "122f24bc911a79c26ca66210557dda07", "title": "Clinical Data Specialist", "normalized_job_title": "clinical data specialist", "parent_uuid": "db06efbaa9cb31d42e02c047ffb0a15a"}, {"uuid": "76b0ba6af40991629e20dff36edd02a5", "title": "Data Management Information Technology Specialist", "normalized_job_title": "data management information technology specialist", "parent_uuid": "b90ca4df5690002377a7b0f1f3d40781"}, {"uuid": "970eb38c7b3eb080466052ea994af189", "title": "Internet Database Specialist", "normalized_job_title": "internet database specialist", "parent_uuid": "a5773315d55245d7a3271314a564c32f"}, {"uuid": "cf2d4db3c258faa2499bdeeeed6721a5", "title": "GPS Field Data Collector (Global Positioning System Field Data Collector)", "normalized_job_title": "gps field data collector global positioning system field data collector", "parent_uuid": "05622c1c6c44e774821121ef8c93fef9"}, {"uuid": "90c5430dbc810aec8695af2f1f4c42e8", "title": "Electronic Data Processing Auditor (EDP Auditor)", "normalized_job_title": "electronic data processing auditor edp auditor", "parent_uuid": "9c4fa3af527c538e345640a28f2d0586"}, {"uuid": "7bb15eefb19ed09c59349baad7e8469e", "title": "Database Coordinator", "normalized_job_title": "database coordinator", "parent_uuid": "b90ca4df5690002377a7b0f1f3d40781"}, {"uuid": "ec3d88b2fd083b870b8c5a603898ed39", "title": "Databases Computer Consultant", "normalized_job_title": "databases computer consultant", "parent_uuid": "b90ca4df5690002377a7b0f1f3d40781"}, {"uuid": "1f8576bdffa64f492405d02b842c41a6", "title": "Data Management Associate", "normalized_job_title": "data management associate", "parent_uuid": "b90ca4df5690002377a7b0f1f3d40781"}, {"uuid": "edc64316da9707432443c7a4461abe6c", "title": "Data Security Administrator", "normalized_job_title": "data security administrator", "parent_uuid": "7ef30a5b2e0ec04db4ad4d5b1d354c32"}, {"uuid": "6cf4d336112984368f83181ac5ffe948", "title": "Health Data Analyst", "normalized_job_title": "health data analyst", "parent_uuid": "db06efbaa9cb31d42e02c047ffb0a15a"}, {"uuid": "d4624ed8068d24948e18303212593cd6", "title": "Data Architect", "normalized_job_title": "data architect", "parent_uuid": "596226d5f9ef63de41a852826d483d19"}, {"uuid": "1a281bf4bd1fe9b2a6e464e508bea167", "title": "Data Storage Specialist", "normalized_job_title": "data storage specialist", "parent_uuid": "72ac7ec4ef0212a3aa54ed92abac8a92"}, {"uuid": "2f704538f6c9d6459a97314be98124e2", "title": "Data Collector", "normalized_job_title": "data collector", "parent_uuid": "b9395a0c9f252a057e9b153c5c7f4bdd"}, {"uuid": "3161063d378eecc4581c5cdee46a2a6c", "title": "Head of Information Systems and Data Processing", "normalized_job_title": "head of information systems and data processing", "parent_uuid": "bb4e5066e69e4228172b4850d2a920f4"}, {"uuid": "781f5d3a80812531fdc81125a527a626", "title": "Data Warehouse Specialist", "normalized_job_title": "data warehouse specialist", "parent_uuid": "72ac7ec4ef0212a3aa54ed92abac8a92"}, {"uuid": "38a15ceadcdd6d4db16a88fa1a72b083", "title": "Data Warehouse Analyst", "normalized_job_title": "data warehouse analyst", "parent_uuid": "72ac7ec4ef0212a3aa54ed92abac8a92"}, {"uuid": "e55556364d2096578fd153e9800e826f", "title": "Database Consultant", "normalized_job_title": "database consultant", "parent_uuid": "596226d5f9ef63de41a852826d483d19"}, {"uuid": "d24ffac92c24fb0e7bd1abc5fc3b6254", "title": "Data Manager", "normalized_job_title": "data manager", "parent_uuid": "430aaf9809812ccc822ef42674765d0e"}, {"uuid": "ccd7528fb38f16077360c5b67c9700c4", "title": "Data Communications Analyst", "normalized_job_title": "data communications analyst", "parent_uuid": "9f07202082ce5945f125f3472a753789"}, {"uuid": "f6fbd9dea1fa8f899683ade8e7d87d60", "title": "Data Entry Associate", "normalized_job_title": "data entry associate", "parent_uuid": "bf88358c56bb6cbe7eabec38ae333d19"}, {"uuid": "0de6170ccbed08e62b2e5862d5846a43", "title": "Database Tester", "normalized_job_title": "database tester", "parent_uuid": "b90ca4df5690002377a7b0f1f3d40781"}, {"uuid": "499f9d9b6722342608656559b15abd90", "title": "Clinical Data Associate", "normalized_job_title": "clinical data associate", "parent_uuid": "0b9dd32a367f4562ec77b993053d1910"}, {"uuid": "8a7a3f1bce0958ae9f090683e5a925b7", "title": "Data Scientist", "normalized_job_title": "data scientist", "parent_uuid": "c694b1fbf0bd19efa780497ccb70638e"}, {"uuid": "7acaed29536648e45ea2b82d45047fcf", "title": "Medical Data Analyst", "normalized_job_title": "medical data analyst", "parent_uuid": "db06efbaa9cb31d42e02c047ffb0a15a"}, {"uuid": "02e4c028f64f176de2f54bbc2f5403ce", "title": "Marketing Database Analyst", "normalized_job_title": "marketing database analyst", "parent_uuid": "9656fa2dc39e9643c00a45858e0117d0"}, {"uuid": "569da68cdcac43a3b4a0126ea9170570", "title": "Database Designer", "normalized_job_title": "database designer", "parent_uuid": "596226d5f9ef63de41a852826d483d19"}, {"uuid": "ced804d972b03cca6d523ec8925a7943", "title": "Oracle Database Administrator (Oracle DBA)", "normalized_job_title": "oracle database administrator oracle dba", "parent_uuid": "b90ca4df5690002377a7b0f1f3d40781"}, {"uuid": "41b2978a2c07c5f477e60f26372d6c85", "title": "Database Management System Specialist (DBMS Specialist)", "normalized_job_title": "database management system specialist dbms specialist", "parent_uuid": "b90ca4df5690002377a7b0f1f3d40781"}, {"uuid": "d9e964a222fdd9527319ad88adbfaa2e", "title": "SQL Database Administrator", "normalized_job_title": "sql database administrator", "parent_uuid": "b90ca4df5690002377a7b0f1f3d40781"}, {"uuid": "ac47656fd51c2cd8037057262c910dc4", "title": "Data Processing Manager", "normalized_job_title": "data processing manager", "parent_uuid": "bb4e5066e69e4228172b4850d2a920f4"}, {"uuid": "e49986dae76619a3941d280ee14d38ae", "title": "Data Miner", "normalized_job_title": "data miner", "parent_uuid": "b90ca4df5690002377a7b0f1f3d40781"}, {"uuid": "f842344417ed2fc226d9cc00f9562458", "title": "Log Data Technician", "normalized_job_title": "log data technician", "parent_uuid": "0581dd6e7d2b00f3d449837e60ab76a0"}, {"uuid": "096536ec43ce2a7de73031b271a1c132", "title": "Flight Data Technician", "normalized_job_title": "flight data technician", "parent_uuid": "351a52f8a687142e32acd0b6c331e61b"}, {"uuid": "a33662485eb4ad97096183db945308f4", "title": "Automatic Data Processing Planner (ADP Planner)", "normalized_job_title": "automatic data processing planner adp planner", "parent_uuid": "b90ca4df5690002377a7b0f1f3d40781"}, {"uuid": "4f75f97ac5b5f00f9420074d501f0803", "title": "Data Capture Specialist", "normalized_job_title": "data capture specialist", "parent_uuid": "bf88358c56bb6cbe7eabec38ae333d19"}, {"uuid": "f36c6ada3a808453a0bf241c74a4e994", "title": "Reference Data Expert", "normalized_job_title": "reference data expert", "parent_uuid": "c80b795c61b66ce7d93000761d21632f"}, {"uuid": "41ba88cfd476ee8d5e3d9f7cea62f051", "title": "Data Recovery Planner", "normalized_job_title": "data recovery planner", "parent_uuid": "b90ca4df5690002377a7b0f1f3d40781"}, {"uuid": "894ca61c22718617c7e2404f582153da", "title": "Data Processing Consultant", "normalized_job_title": "data processing consultant", "parent_uuid": "0148f61d4227497728ce33490843d056"}, {"uuid": "34d80517fe3bc143f9fc850386b8ffd7", "title": "Clinical Data Coordinator", "normalized_job_title": "clinical data coordinator", "parent_uuid": "0b9dd32a367f4562ec77b993053d1910"}, {"uuid": "e7b3e1c6a32c7247cd4857e4c3574165", "title": "Data Processing Systems Analyst", "normalized_job_title": "data processing systems analyst", "parent_uuid": "0148f61d4227497728ce33490843d056"}, {"uuid": "36ac256201657eeaa67ee95aaae3cd54", "title": "Data Warehousing Specialist", "normalized_job_title": "data warehousing specialist", "parent_uuid": "72ac7ec4ef0212a3aa54ed92abac8a92"}, {"uuid": "bc6dcc49557388a9f53d6e642e73d7a2", "title": "Business Database Analyst", "normalized_job_title": "business database analyst", "parent_uuid": "9656fa2dc39e9643c00a45858e0117d0"}, {"uuid": "00bff17fca67555d8d86e8ead86dcd70", "title": "Database Analyst", "normalized_job_title": "database analyst", "parent_uuid": "b90ca4df5690002377a7b0f1f3d40781"}, {"uuid": "b42566382f2d3deeca56d3667004fc9e", "title": "Data Center Manager", "normalized_job_title": "data center manager", "parent_uuid": "b90ca4df5690002377a7b0f1f3d40781"}, {"uuid": "7932d4705d002b47789c11edfaed685e", "title": "Data Control Assistant", "normalized_job_title": "data control assistant", "parent_uuid": "1b7a3048ca875e752dbe1ec6368e2e9a"}, {"uuid": "aee597cd78f235c9db9d3ca987c7c846", "title": "Database Development Project Manager", "normalized_job_title": "database development project manager", "parent_uuid": "c9b22af74071153203bd588bd45340d9"}, {"uuid": "1c37a6e2bf157c0eff4665c57c52602d", "title": "SCADA Technician (Supervisory Control and Data Acquisition Technician)", "normalized_job_title": "scada technician supervisory control and data acquisition technician", "parent_uuid": "5e618fbfb1206c29ad9b4c3e1d169ba5"}, {"uuid": "46b09f5f86f1ed46a8cb8e14d41418c7", "title": "Survey Data Technician", "normalized_job_title": "survey data technician", "parent_uuid": "325e2251e20170928426473156bd3c48"}, {"uuid": "a2a9fbe67b4aa2b551ba0f3adac90a99", "title": "Engineer, System Electronic Data Processing (Engineer, System EDP)", "normalized_job_title": "engineer system electronic data processing engineer system edp", "parent_uuid": "ad7f545d458070129f3ced2d13467813"}, {"uuid": "77d124811ae6887bd4ff42b0e2b49116", "title": "Data Warehouse Architect", "normalized_job_title": "data warehouse architect", "parent_uuid": "596226d5f9ef63de41a852826d483d19"}, {"uuid": "f05d2014d4a9adaab50fa1e0ca6f6c8c", "title": "Naval Tactical Data System--Combat Information Center Watch Officer, Carrier Controlled Approach Controller", "normalized_job_title": "naval tactical data systemcombat information center watch officer carrier controlled approach controller", "parent_uuid": "e7fdd7f57854ea7d06958a8b65ce0148"}, {"uuid": "ac2588d5d7676a49bdcd038e4a0a0ec5", "title": "Data Compiler", "normalized_job_title": "data compiler", "parent_uuid": "325e2251e20170928426473156bd3c48"}, {"uuid": "2173ff3afd8d28192f7cf119af201940", "title": "Data Modeling Specialist", "normalized_job_title": "data modeling specialist", "parent_uuid": "b90ca4df5690002377a7b0f1f3d40781"}, {"uuid": "f5bc91b67dc30ad204158092116c4ed2", "title": "Clinical Data Manager", "normalized_job_title": "clinical data manager", "parent_uuid": "0b9dd32a367f4562ec77b993053d1910"}, {"uuid": "433df1b945d32f17d9e61cf60a9bd06e", "title": "Data Abstractor", "normalized_job_title": "data abstractor", "parent_uuid": "5664385a36b9a0aa6f63c498e86b4654"}, {"uuid": "1295a187473fd2f53427769fc7a4c02e", "title": "Clinical Data Management Associate Director", "normalized_job_title": "clinical data management associate director", "parent_uuid": "0b9dd32a367f4562ec77b993053d1910"}, {"uuid": "004431b0c1ce29ff6145307fa23f3f98", "title": "Data Reduction Technician", "normalized_job_title": "data reduction technician", "parent_uuid": "bae768f2464d4c86f05659ce341b1628"}, {"uuid": "8fd068c8d9be73abfa678856177b6c40", "title": "Data Operations Director", "normalized_job_title": "data operations director", "parent_uuid": "bb4e5066e69e4228172b4850d2a920f4"}, {"uuid": 

In [15]:
data_jobs['normalized_job_code']=data_jobs['uuid']

clean_data_jobs=data_jobs.drop(columns=['error', 'uuid', 'parent_uuid'])

clean_data_jobs

,title,normalized_job_title,normalized_job_code
0,NaN,NaN,NaN
1,Automatic Data Processing Planner,automatic data processing planner,861a9b9151e11362eb3c77ca914172d0
2,Data Coordinator,data coordinator,049a3f3a2b5f85cb2971ba77ad66e10c
3,Database Developer,database developer,f4b2fb1aa40f661488e2782b6d57ad2f
4,Data Entry Specialist,data entry specialist,27af8700f5577cec835acee2cb90a2ff
...,...,...,...
152,Analytical Data Miner,analytical data miner,b0fa6ede410f50b82ab74f5a705fe699
153,Data Analysis Assistant,data analysis assistant,559a21f836c93876f31b60e6d10656a7
154,Data Examination Clerk,data examination clerk,c1fb1a01b78373ac2153c66fa08d16dc
155,Data Entry Clerk,data entry clerk,05bb9a333a66d6eb151e253623efe1c0
156,Data Capture Clerk,data capture clerk,4cee16550636e292b8d136486fce943b

In [43]:
result = pd.merge(career, clean_data_jobs, how='left', on=['normalized_job_code'])

In [46]:
def job_code_filtered(data_table):
    codelist = data_table['normalized_job_code'].unique().tolist()
    return codelist

c=job_code_filtered(career)


def api_job_list (c):
    jobs_id_list = []
    for job_code in c:
        req= requests.get(f'http://api.dataatwork.org/v1/jobs/{job_code}')
        jobs_id_list.append(req.json())
    jobs_json= json.dumps(jobs_id_list)
    data_jobs = pd.read_json(jobs_json)
    data_jobs['normalized_job_code'] = data_jobs['uuid']
    dataframe_jobs = data_jobs.drop(columns=['error', 'uuid', 'parent_uuid'])
    return dataframe_jobs

api_job_list(c)

,title,normalized_job_title,normalized_job_code
0,NaN,NaN,NaN
1,Automatic Data Processing Planner,automatic data processing planner,861a9b9151e11362eb3c77ca914172d0
2,Data Coordinator,data coordinator,049a3f3a2b5f85cb2971ba77ad66e10c
3,Database Developer,database developer,f4b2fb1aa40f661488e2782b6d57ad2f
4,Data Entry Specialist,data entry specialist,27af8700f5577cec835acee2cb90a2ff
...,...,...,...
152,Analytical Data Miner,analytical data miner,b0fa6ede410f50b82ab74f5a705fe699
153,Data Analysis Assistant,data analysis assistant,559a21f836c93876f31b60e6d10656a7
154,Data Examination Clerk,data examination clerk,c1fb1a01b78373ac2153c66fa08d16dc
155,Data Entry Clerk,data entry clerk,05bb9a333a66d6eb151e253623efe1c0
156,Data Capture Clerk,data capture clerk,4cee16550636e292b8d136486fce943b

In [97]:
country = pd.read_sql_table(table_name='country_info', con=db_connection)
country

                                      uuid country_code        rural
0     f6e7ee00-deac-0133-4de8-0a81e8b09a82           AT  countryside
1     54f0f1c0-dda1-0133-a559-0a81e8b09a82           AT        urban
2     83127080-da3d-0133-c74f-0a81e8b09a82           AT         city
3     15626d40-db13-0133-ea5c-0a81e8b09a82           AT      Country
4     24954a70-db98-0133-4a64-0a81e8b09a82           AT         city
...                                    ...          ...          ...
9644  7d1ac020-dcb4-0133-817a-0a81e8b09a82           SK        urban
9645  39f989f0-db52-0133-8482-0a81e8b09a82           SK        urban
9646  70ce4a90-d965-0133-f5e4-0a81e8b09a82           SK    Non-Rural
9647  2896e440-db3c-0133-5b67-0a81e8b09a82           SK         city
9648  06217ba0-dd56-0133-edda-0a81e8b09a82           SK         city

[9649 rows x 3 columns]

In [18]:
country.groupby('country_code').count()

              uuid  rural
country_code
AT             133    133
BE             179    179
BG             141    141
CY              13     13
CZ             189    189
DE            1420   1420
DK             119    119
EE              18     18
ES            1005   1005
FI             113    113
FR            1248   1248
GB            1199   1199
GR             225    225
HR              87     87
HU             206    206
IE              90     90
IT            1138   1138
LT              50     50
LU              11     11
LV              36     36
MT               8      8
NL             331    331
PL             860    860
PT             202    202
RO             332    332
SE             175    175
SI              28     28
SK              93     93

In [114]:
html = requests.get('https://ec.europa.eu/eurostat/statistics-explained/index.php/Glossary:Country_codes').content

In [132]:
def country_parsed():
    html = requests.get('https://ec.europa.eu/eurostat/statistics-explained/index.php/Glossary:Country_codes').content
    soup = BeautifulSoup(html, 'html.parser')
    table = soup.find_all('div', {'class':'col-lg-12 col-md-12 col-sm-12 col-xs-12 content-col content article-content'})[0]
    rows = table.find_all('td')
    rows_parsed = [row.text for row in rows]
    return rows_parsed

c=country_parsed()

def country_df():
    Country_list=[]
    for i in c:
        Country_list.append(re.sub('^\s|[()]|\n','',i))
    Country_clean= [x for x in Country_list if x]
    N = 2
    Country_def = [Country_clean[n:n+N] for n in range(0, len(Country_clean), N)]
    Country_table = pd.DataFrame.from_records(Country_def)
    Country_table_def =Country_table.rename(columns={0:'country_l', 1:'country_code'})
    Country_table_def['country_code']=Country_table_def['country_code'].str.replace('EL', 'GR').str.replace('UK', 'GB')
    return Country_table_def

data=country_df()


pd.set_option('display.max_rows', data.shape[0]+1)


data

                 country_l country_code
0                  Belgium           BE
1                   Greece           GR
2                Lithuania           LT
3                 Portugal           PT
4                 Bulgaria           BG
5                    Spain           ES
6               Luxembourg           LU
7                  Romania           RO
8                  Czechia           CZ
9                   France           FR
10                 Hungary           HU
11                Slovenia           SI
12                 Denmark           DK
13                 Croatia           HR
14                   Malta           MT
15                Slovakia           SK
16                 Germany           DE
17                   Italy           IT
18             Netherlands           NL
19                 Finland           FI
20                 Estonia           EE
21                  Cyprus           CY
22                 Austria           AT
23                  Sweden           SE
24                 Ireland           IE
25                  Latvia           LV
26                  Poland           PL
27          United Kingdom           GB
28                 Iceland           IS
29                  Norway           NO
30           Liechtenstein           LI
31             Switzerland           CH
32              Montenegro           ME
33         North Macedonia           MK
34                 Albania           AL
35                  Serbia           RS
36                  Turkey           TR
37  Bosnia and Herzegovina           BA
38              Kosovo*[1]        XK[2]
39                 Armenia           AM
40                 Belarus           BY
41                 Georgia           GE
42              Azerbaijan           AZ
43                 Moldova           MD
44                 Ukraine           UA
45                 Algeria           DZ
46                 Lebanon           LB
47                   Syria           SY
48                   Egypt           EG
49                   Libya           LY
50                 Tunisia           TN
51                  Israel           IL
52                 Morocco           MA
53
54                  Jordan           JO
55          Palestine* [3]           PS
56
57                  Russia           RU
58               Argentina           AR
59  China except Hong Kong      CN_X_HK
60                  Mexico           MX
61            South Africa           ZA
62               Australia           AU
63               Hong Kong           HK
64                 Nigeria           NG
65             South Korea           KR
66                  Brazil           BR
67                   India           IN
68             New Zealand           NZ
69                  Taiwan           TW
70                  Canada           CA
71                   Japan           JP
72               Singapore           SG
73           United States           US

In [96]:
result = pd.merge(country, e, how='left', on=['country_code'])
result

,uuid,country_code,rural,country_code2,country_l
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,AT,countryside,AT,Austria
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,AT,urban,AT,Austria
2,83127080-da3d-0133-c74f-0a81e8b09a82,AT,city,AT,Austria
3,15626d40-db13-0133-ea5c-0a81e8b09a82,AT,Country,AT,Austria
4,24954a70-db98-0133-4a64-0a81e8b09a82,AT,city,AT,Austria
...,...,...,...,...,...
9644,7d1ac020-dcb4-0133-817a-0a81e8b09a82,SK,urban,SK,Slovakia
9645,39f989f0-db52-0133-8482-0a81e8b09a82,SK,urban,SK,Slovakia
9646,70ce4a90-d965-0133-f5e4-0a81e8b09a82,SK,Non-Rural,SK,Slovakia
9647,2896e440-db3c-0133-5b67-0a81e8b09a82,SK,city,SK,Slovakia
9648,06217ba0-dd56-0133-edda-0a81e8b09a82,SK,city,SK,Slovakia

In [ ]:
Country_list=[]
    for i in rows_parsed:
        Country_list.append(re.sub('[()]|\n','',i))
    Country_clean= [x for x in Country_list if x]
    N = 2
    Country_def = [Country_clean[n:n+N] for n in range(0, len(Country_clean), N)]
    return Country_def

In [19]:
url = 'https://ec.europa.eu/eurostat/statistics-explained/index.php/Glossary:Country_codes'
html = requests.get(url).content

In [20]:
soup = BeautifulSoup(html, 'lxml')



table = soup.find_all('div', {'class':'col-lg-12 col-md-12 col-sm-12 col-xs-12 content-col content article-content'})[0]

table

rows = table.find_all('div', {'id':'bodyContent'})
rows_parsed = [row.text for row in rows]

rows_parsed

['\n\n\n\n\t\t\t\t\tJump to:\t\t\t\t\t\n\t\t\t\t\t\tnavigation\t\t\t\t\t, \n\t\t\t\t\t\tsearch\t\t\t\t\t\n\n\nMember States of the European Union (EU) and other countries have been assigned a two-letter country code, always written in capital letters, and often used as an abbreviation in statistical analyses, tables, figures or maps. \n\nThe protocol order in which countries are often listed is based on the alphabetical list of countries in their national language for EU and EFTA Member States and for candidate countries; for potential candidates, it is based on the alphabetical order of their country code. \nEU Member States come first, followed by European Free Trade Association (EFTA) Member States, candidate countries for EU membership, potential candidates and, finally, other countries. The order in the tables below is first column down, then second column down, etc.. \nEuropean Union (EU)\n\n\n\nBelgium\n\n(BE)\n\nGreece\n\n(EL)\n\nLithuania\n\n(LT)\n\nPortugal\n\n(PT)\n\n\nBulgaria\n\n(BG)\n\nSpain\n\n(ES)\n\nLuxembourg\n\n(LU)\n\nRomania\n\n(RO)\n\n\nCzechia\n\n(CZ)\n\nFrance\n\n(FR)\n\nHungary\n\n(HU)\n\nSlovenia\n\n(SI)\n\n\nDenmark\n\n(DK)\n\nCroatia\n\n(HR)\n\nMalta\n\n(MT)\n\nSlovakia\n\n(SK)\n\n\nGermany\n\n(DE)\n\nItaly\n\n(IT)\n\nNetherlands\n\n(NL)\n\nFinland\n\n(FI)\n\n\nEstonia\n\n(EE)\n\nCyprus\n\n(CY)\n\nAustria\n\n(AT)\n\nSweden\n\n(SE)\n\n\nIreland\n\n(IE)\n\nLatvia\n\n(LV)\n\nPoland\n\n(PL)\n\nUnited Kingdom\n\n\n\n United Kingdom\n\n (UK)\n\n\n\nEuropean Free Trade Association (EFTA)\n\n\n\n Iceland\n\n (IS)\n\n\n\n Norway\n\n (NO)\n\n\n Liechtenstein\n\n (LI)\n\n\n\n Switzerland\n\n (CH)\n\nEU candidate countries\n\n\n\n Montenegro\n\n (ME)\n\n\n North Macedonia\n\n (MK)\n\n\n Albania\n\n (AL)\n\n\nSerbia\n\n (RS)\n\n\n Turkey\n\n (TR)\n\nPotential candidates (all other Western Balkan countries)\n\n\n\n Bosnia and Herzegovina\n\n (BA)\n\n\n Kosovo*[1]\n\n (XK[2])\n\n\nEuropean Neighbourhood Policy (ENP)-East countries: \n\n\n\n Armenia\n\n (AM)\n\n\n\n Belarus\n\n (BY)\n\n\n\n Georgia\n\n (GE)\n\n\n Azerbaijan\n\n (AZ)\n\n\n\n Moldova\n\n (MD)\n\n\n\n Ukraine\n\n (UA)\n\nEuropean Neighbourhood Policy (ENP)-South countries: \n\n\n\n Algeria\n\n (DZ)\n\n\n\n Lebanon\n\n (LB)\n\n\n\n Syria\n\n (SY)\n\n\n Egypt\n\n (EG)\n\n\n\n Libya\n\n (LY)\n\n\n\n Tunisia\n\n (TN)\n\n\n Israel\n\n (IL)\n\n\n\n Morocco\n\n (MA)\n\n\n\n \xa0\n\n \xa0\n\n\n Jordan\n\n (JO)\n\n\n\n Palestine* [3]\n\n (PS)\n\n\n\n \xa0\n\n \xa0\n\nOther European countries\n\n\n\n Russia\n\n (RU)\n\nNon-European countries\n\n\n\nArgentina\n\n(AR)\n\n\n\nChina (except Hong Kong)\n\n(CN_X_HK)\n\n\n\nMexico\n\n(MX)\n\n\n\nSouth Africa\n\n(ZA)\n\n\nAustralia\n\n(AU)\n\n\n\nHong Kong\n\n(HK)\n\n\n\nNigeria\n\n(NG)\n\n\n\nSouth Korea\n\n(KR)\n\n\nBrazil\n\n(BR)\n\n\n\nIndia\n\n(IN)\n\n\n\nNew Zealand\n\n(NZ)\n\n\n\nTaiwan\n\n(TW)\n\n\nCanada\n\n(CA)\n\n\n\nJapan\n\n(JP)\n\n\n\nSingapore\n\n(SG)\n\n\n\nUnited States\n\n(US)\n\nFurther information\n\n DG NEAR web site for North Macedonia\n\n DG NEAR web site for Kosovo\n\n DG NEAR web site for Palestine\n\n\nRelated concepts\n\nCurrency codes\n\nLanguage codes\n\n\nExternal links\nInterinstitutional style guide (Publications Office)\n\nNotes\n\n↑ This designation is without prejudice to positions on status, and is in line with UNSCR 1244/1999 and the ICJ Opinion on the Kosovo Declaration of Independence.(with asterisk and footnote in written documents, only the first time that Kosovo is mentioned).\n\n↑ \'XK\' is a code used for practical reasons and not an official ISO country code.\n\n↑ This designation shall not be\nconstrued as recognition of a State of Palestine and is without prejudice to the individual\npositions of the Member States on this issue.\n\n\n\n\nRetrieved from "https://ec.europa.eu/eurostat/statistics-explained/index.php?title=Glossary:Country_codes&oldid=479715"\n\nCategories: Geography glossaryGlossary \n\n']

In [21]:
rows = table.find_all('td')
rows_parsed = [row.text for row in rows]

rows_parsed

['Belgium\n',
 '(BE)\n',
 'Greece\n',
 '(EL)\n',
 'Lithuania\n',
 '(LT)\n',
 'Portugal\n',
 '(PT)\n',
 'Bulgaria\n',
 '(BG)\n',
 'Spain\n',
 '(ES)\n',
 'Luxembourg\n',
 '(LU)\n',
 'Romania\n',
 '(RO)\n',
 'Czechia\n',
 '(CZ)\n',
 'France\n',
 '(FR)\n',
 'Hungary\n',
 '(HU)\n',
 'Slovenia\n',
 '(SI)\n',
 'Denmark\n',
 '(DK)\n',
 'Croatia\n',
 '(HR)\n',
 'Malta\n',
 '(MT)\n',
 'Slovakia\n',
 '(SK)\n',
 'Germany\n',
 '(DE)\n',
 'Italy\n',
 '(IT)\n',
 'Netherlands\n',
 '(NL)\n',
 'Finland\n',
 '(FI)\n',
 'Estonia\n',
 '(EE)\n',
 'Cyprus\n',
 '(CY)\n',
 'Austria\n',
 '(AT)\n',
 'Sweden\n',
 '(SE)\n',
 'Ireland\n',
 '(IE)\n',
 'Latvia\n',
 '(LV)\n',
 'Poland\n',
 '(PL)\n',
 ' United Kingdom\n',
 ' (UK)\n',
 '\n',
 ' Iceland\n',
 ' (IS)\n',
 '\n',
 ' Norway\n',
 ' (NO)\n',
 ' Liechtenstein\n',
 ' (LI)\n',
 '\n',
 ' Switzerland\n',
 ' (CH)\n',
 ' Montenegro\n',
 ' (ME)\n',
 ' North Macedonia\n',
 ' (MK)\n',
 ' Albania\n',
 ' (AL)\n',
 'Serbia\n',
 ' (RS)\n',
 ' Turkey\n',
 ' (TR)\n',
 ' Bosnia and Herzegovina\n',
 ' (BA)\n',
 ' Kosovo*[1]\n',
 ' (XK[2])\n',
 ' Armenia\n',
 ' (AM)\n',
 '\n',
 ' Belarus\n',
 ' (BY)\n',
 '\n',
 ' Georgia\n',
 ' (GE)\n',
 ' Azerbaijan\n',
 ' (AZ)\n',
 '\n',
 ' Moldova\n',
 ' (MD)\n',
 '\n',
 ' Ukraine\n',
 ' (UA)\n',
 ' Algeria\n',
 ' (DZ)\n',
 '\n',
 ' Lebanon\n',
 ' (LB)\n',
 '\n',
 ' Syria\n',
 ' (SY)\n',
 ' Egypt\n',
 ' (EG)\n',
 '\n',
 ' Libya\n',
 ' (LY)\n',
 '\n',
 ' Tunisia\n',
 ' (TN)\n',
 ' Israel\n',
 ' (IL)\n',
 '\n',
 ' Morocco\n',
 ' (MA)\n',
 '\n',
 ' \xa0\n',
 ' \xa0\n',
 ' Jordan\n',
 ' (JO)\n',
 '\n',
 ' Palestine* [3]\n',
 ' (PS)\n',
 '\n',
 ' \xa0\n',
 ' \xa0\n',
 ' Russia\n',
 ' (RU)\n',
 'Argentina\n',
 '(AR)\n',
 '\n',
 'China (except Hong Kong)\n',
 '(CN_X_HK)\n',
 '\n',
 'Mexico\n',
 '(MX)\n',
 '\n',
 'South Africa\n',
 '(ZA)\n',
 'Australia\n',
 '(AU)\n',
 '\n',
 'Hong Kong\n',
 '(HK)\n',
 '\n',
 'Nigeria\n',
 '(NG)\n',
 '\n',
 'South Korea\n',
 '(KR)\n',
 'Brazil\n',
 '(BR)\n',
 '\n',
 'India\n',
 '(IN)\n',
 '\n',
 'New Zealand\n',
 '(NZ)\n',
 '\n',
 'Taiwan\n',
 '(TW)\n',
 'Canada\n',
 '(CA)\n',
 '\n',
 'Japan\n',
 '(JP)\n',
 '\n',
 'Singapore\n',
 '(SG)\n',
 '\n',
 'United States\n',
 '(US)\n']

In [22]:
Country_list=[]

for i in rows_parsed:
    Country_list.append(re.sub('[()]|\n','',i))

Country_list

Country_clean= [x for x in Country_list if x]


N = 2
Country_def = [Country_clean[n:n+N] for n in range(0, len(Country_clean), N)]


Country_def

[['Belgium', 'BE'],
 ['Greece', 'EL'],
 ['Lithuania', 'LT'],
 ['Portugal', 'PT'],
 ['Bulgaria', 'BG'],
 ['Spain', 'ES'],
 ['Luxembourg', 'LU'],
 ['Romania', 'RO'],
 ['Czechia', 'CZ'],
 ['France', 'FR'],
 ['Hungary', 'HU'],
 ['Slovenia', 'SI'],
 ['Denmark', 'DK'],
 ['Croatia', 'HR'],
 ['Malta', 'MT'],
 ['Slovakia', 'SK'],
 ['Germany', 'DE'],
 ['Italy', 'IT'],
 ['Netherlands', 'NL'],
 ['Finland', 'FI'],
 ['Estonia', 'EE'],
 ['Cyprus', 'CY'],
 ['Austria', 'AT'],
 ['Sweden', 'SE'],
 ['Ireland', 'IE'],
 ['Latvia', 'LV'],
 ['Poland', 'PL'],
 [' United Kingdom', ' UK'],
 [' Iceland', ' IS'],
 [' Norway', ' NO'],
 [' Liechtenstein', ' LI'],
 [' Switzerland', ' CH'],
 [' Montenegro', ' ME'],
 [' North Macedonia', ' MK'],
 [' Albania', ' AL'],
 ['Serbia', ' RS'],
 [' Turkey', ' TR'],
 [' Bosnia and Herzegovina', ' BA'],
 [' Kosovo*[1]', ' XK[2]'],
 [' Armenia', ' AM'],
 [' Belarus', ' BY'],
 [' Georgia', ' GE'],
 [' Azerbaijan', ' AZ'],
 [' Moldova', ' MD'],
 [' Ukraine', ' UA'],
 [' Algeria', ' DZ'],
 [' Lebanon', ' LB'],
 [' Syria', ' SY'],
 [' Egypt', ' EG'],
 [' Libya', ' LY'],
 [' Tunisia', ' TN'],
 [' Israel', ' IL'],
 [' Morocco', ' MA'],
 [' \xa0', ' \xa0'],
 [' Jordan', ' JO'],
 [' Palestine* [3]', ' PS'],
 [' \xa0', ' \xa0'],
 [' Russia', ' RU'],
 ['Argentina', 'AR'],
 ['China except Hong Kong', 'CN_X_HK'],
 ['Mexico', 'MX'],
 ['South Africa', 'ZA'],
 ['Australia', 'AU'],
 ['Hong Kong', 'HK'],
 ['Nigeria', 'NG'],
 ['South Korea', 'KR'],
 ['Brazil', 'BR'],
 ['India', 'IN'],
 ['New Zealand', 'NZ'],
 ['Taiwan', 'TW'],
 ['Canada', 'CA'],
 ['Japan', 'JP'],
 ['Singapore', 'SG'],
 ['United States', 'US']]

In [23]:
Country_table = pd.DataFrame.from_records(Country_def)

Country_table_n =Country_table.rename(columns={0:'country_l', 1:'country_code'})

Country_table_n

Country_table_n['country_code'].tolist()

['BE',
 'EL',
 'LT',
 'PT',
 'BG',
 'ES',
 'LU',
 'RO',
 'CZ',
 'FR',
 'HU',
 'SI',
 'DK',
 'HR',
 'MT',
 'SK',
 'DE',
 'IT',
 'NL',
 'FI',
 'EE',
 'CY',
 'AT',
 'SE',
 'IE',
 'LV',
 'PL',
 ' UK',
 ' IS',
 ' NO',
 ' LI',
 ' CH',
 ' ME',
 ' MK',
 ' AL',
 ' RS',
 ' TR',
 ' BA',
 ' XK[2]',
 ' AM',
 ' BY',
 ' GE',
 ' AZ',
 ' MD',
 ' UA',
 ' DZ',
 ' LB',
 ' SY',
 ' EG',
 ' LY',
 ' TN',
 ' IL',
 ' MA',
 ' \xa0',
 ' JO',
 ' PS',
 ' \xa0',
 ' RU',
 'AR',
 'CN_X_HK',
 'MX',
 'ZA',
 'AU',
 'HK',
 'NG',
 'KR',
 'BR',
 'IN',
 'NZ',
 'TW',
 'CA',
 'JP',
 'SG',
 'US']

In [24]:
country['country_code2']=country['country_code']

result = pd.merge(country, Country_table_n, how='left', on=['country_code'])

In [25]:
result.groupby('country_code').count()

              uuid  rural  country_code2  country_l
country_code
AT             133    133            133        133
BE             179    179            179        179
BG             141    141            141        141
CY              13     13             13         13
CZ             189    189            189        189
DE            1420   1420           1420       1420
DK             119    119            119        119
EE              18     18             18         18
ES            1005   1005           1005       1005
FI             113    113            113        113
FR            1248   1248           1248       1248
GB            1199   1199           1199          0
GR             225    225            225          0
HR              87     87             87         87
HU             206    206            206        206
IE              90     90             90         90
IT            1138   1138           1138       1138
LT              50     50             50         50
LU              11     11             11         11
LV              36     36             36         36
MT               8      8              8          8
NL             331    331            331        331
PL             860    860            860        860
PT             202    202            202        202
RO             332    332            332        332
SE             175    175            175        175
SI              28     28             28         28
SK              93     93             93         93

In [47]:
result.filter(items=['GR'])


result

,uuid,dem_education_level,dem_full_time_job,normalized_job_code,title,normalized_job_title
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,None,NaN,NaN
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0,Automatic Data Processing Planner,automatic data processing planner
2,83127080-da3d-0133-c74f-0a81e8b09a82,None,no,None,NaN,NaN
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c,Data Coordinator,data coordinator
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f,Database Developer,database developer
...,...,...,...,...,...,...
9644,7d1ac020-dcb4-0133-817a-0a81e8b09a82,high,yes,847165cfda6b1dc82ae22b967da8af2f,Data Warehouse Developer,data warehouse developer
9645,39f989f0-db52-0133-8482-0a81e8b09a82,high,yes,a4d5b8b38f9513825d0d94a981ebe962,Database Manager,database manager
9646,70ce4a90-d965-0133-f5e4-0a81e8b09a82,low,no,None,NaN,NaN
9647,2896e440-db3c-0133-5b67-0a81e8b09a82,low,yes,775190277a849cba701b306a7b374c0a,Data Officer,data officer
9648,06217ba0-dd56-0133-edda-0a81e8b09a82,high,yes,8a7a3f1bce0958ae9f090683e5a925b7,Data Scientist,data scientist